@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
            <small class="author">
                by @Model.Author.FullName, posted on @Model.DateAdded
            </small>
        </header>
        <img src="@Model.ImageURL" class="img-responsive img-rounded"/>
        <p>
            @Model.Content
        </p>

        <small class="author">
            category: @Model.Category
        </small>  
        
        <small class="author">
            this article has been rated @Model.RatesNum times 
        </small>
        <small class="author">
            average rating: @Model.AverageRating
        </small>
             

        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Rate", "Rate", "Article", new { @id = Model.Id }, new { @class = "btn btn-default btn-xs" })
            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />
