@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>   
</div>
<hr />

<a href="/Article/List?page=@(ViewBag.CurrentPage - 1)" class="btn btn-default text-center @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Previous <<</a>
<a href="/Article/List?page=@(ViewBag.CurrentPage + 1)" class="btn btn-default text-center @(!Model.Any() || Model.Count < 6 ? "disabled" : string.Empty)">Next >></a>

