@model List<Blog.Models.Article>

@{
    ViewBag.Title = "Players";
}

<h2 class="text-center">Players News</h2>
<hr />

<div class="container">
    @foreach (var article in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                <img src="@article.ImageURL" class="img-responsive img-rounded" alt="Blog post title image"/>
            </div>
            <div class="col-sm-8">
                <article>
                    <header>
                        <p class="lead">
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </p>
                    </header>
                    <p class="text-justify">
                        @{ var ContentSubStr = string.Empty; }
                        @if (article.Content.Length <= 400)
                        {
                            ContentSubStr = article.Content;
                        }
                        else
                        {
                            ContentSubStr = article.Content.Substring(0, 400) + "...";
                        }

                        @ContentSubStr
                    </p>
                    <footer>
                        <small class="author pull-right">
                            by @article.Author.FullName <img src="@article.Author.ImagePath" height="40" class="img-circle" />
                        </small>
                        <small class="author pull-left">
                            added on @article.DateAdded
                        </small>
                    </footer>
                </article>
            </div>
        </div>

        <hr />
                            }
</div>

<hr />

<a href="/Article/Players?page=@(ViewBag.CurrentPage - 1)" class="btn btn-default text-center @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Previous <<</a>
<a href="/Article/Players?page=@(ViewBag.CurrentPage + 1)" class="btn btn-default text-center @(!Model.Any() || Model.Count < 6 ? "disabled" : string.Empty)">Next >></a>

